[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/common.cfg

versions = versions
package-name = collective.tiles.sliders
package-extras = [test]
eggs +=
    Products.PrintingMailHost
    plone.app.mosaic

test-eggs +=
    Pillow
robot_tests_folder = ${buildout:directory}/src/collective/tiles/sliders/tests/robot

parts +=
    createcoverage
    i18ndude
    node
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    robot
    testnorobot
    sphinxbuilder
    updatedocsimages
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout =


[code-analysis]
directory = ${buildout:directory}/src/collective/


[sources]


[versions]
# Don't use a released version of collective.tiles.sliders
collective.tiles.sliders =

plone.app.blocks = 4.1.1
plone.app.drafts = 1.1.2
plone.app.mosaic = 2.0rc8
plone.app.standardtiles = 2.2.0
plone.app.tiles = 3.0.3
plone.formwidget.multifile = 2.0
plone.jsonserializer = 0.9.5
plone.subrequest = 1.8.1
plone.tiles = 2.0.0b3
